<div class="widget">
<ul class="list-horizontal">
    <li><a href="<{xoops_cooluri dirname=$dirname}>">TOP</a></li>
    <li><a href="<{xoops_cooluri dirname=$dirname dataname=plugin}>"><{$smarty.const._MD_WIDGET_LANG_PLUGIN}><{$smarty.const._LIST}></a> </li>
</ul>

<h1><{$smarty.const._MD_WIDGET_LANG_INSTANCE_DELETE}></h1>

<div class="confirm"><{$smarty.const._MD_WIDGET_MESSAGE_CONFIRM_DELETE}></div>

<form action="<{xoops_cooluri dirname=$dirname dataname=instance action=delete}>" method="post">
  <dl class="edit">
  <dt><{$smarty.const._MD_WIDGET_LANG_INSTANCE_ID}></dt>
  <dd><{$object->getShow('instance_id')}></dd>
  <dt><{$smarty.const._MD_WIDGET_LANG_TITLE}></dt>
  <dd><{$object->getShow('title')}></dd>
  <dt><{$smarty.const._MD_WIDGET_LANG_CATEGORY_ID}></dt>
  <dd><{$mainTitle|xoops_escape}></dd>
  <dt><{$smarty.const._MD_WIDGET_LANG_TYPE}></dt>
  <dd><{$object->getShow('type')}></dd>
  <dt><{$smarty.const._MD_WIDGET_LANG_TEMPLATE}></dt>
  <dd><{$object->getShow('template')}></dd>
  <dt><{$smarty.const._MD_WIDGET_LANG_OPTIONS}></dt>
  <dd><{$object->getShow('options')}></dd>
  <dt><{$smarty.const._MD_WIDGET_LANG_POSTTIME}></dt>
  <dd><{$object->getShow('posttime')|xoops_formattimestamp:m}></dd>

    <dd>
      <{xoops_token form=$actionForm}>
      <{xoops_input type=hidden name=instance_id value=$actionForm->get('instance_id')}>
      <input type="submit" class="formButton" value="<{$smarty.const._DELETE}>"/>
      <input type="submit" class="formButton" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"/>
    </dd>
  </dl>
</form>
</div>
